.title{
    text-align: center;
    font-size: 25px;
    padding-right: 50%;
    margin: 20px;
}

.logo{
    position: absolute;
    top: 5px;
    left: 8px;
    height: 60px;
    width: 60px;
}

.logo img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.sign-up{
    text-align: right;
    position: absolute;
    top: 27px;
    right: 10px;
    color: grey;
    text-decoration: none;
}

.log-in{
    text-align: right;
    position: absolute;
    top: 27px;
    right: 80px;
    color: grey;
    text-decoration: none;
}

.profile{
    text-align: right;
    position: absolute;
    top: 27px;
    right: 10px;
    color: grey;
    text-decoration: none;
}

.log-out{
    text-align: right;
    position: absolute;
    top: 27px;
    right: 70px;
    color: grey;
    text-decoration: none;
}

.sell{
    text-align: right;
    position: absolute;
    top: 27px;
    right: 140px;
    color: grey;
    text-decoration: none;
}

.browse{
    text-align: right;
    position: absolute;
    top: 27px;
    right: 180px;
    color: grey;
    text-decoration: none;
}

input[type=text]{
    position: absolute;
    top: 25px;
    right: 280px;
}

.search-icon{
    width: 26px;
    height: 26px;
    position: absolute;
    top: 22px;
    right: 255px;
}

#banner{
    background-image: url(/images/Banner.jpg);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
}

div.picture{
    position: relative;
    left: 250px;
}

div.picture img{
    max-width: 440px;
    max-height: 544px;
    width: 385px;
    height: 544px;
}

div.info{
    position: relative;
    top: 150px;
}

i{
    padding: 5px;
}

.sitediv.inuse{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.foot{
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.column{
    border-right: 1px solid gray;
    border-top: 1px solid gray;
}

.column2{
    margin-top: 10px;
}

.success {
    background: rgba(108, 192, 112, 0.7);
    color: #fff;
    width: 70%;
    margin: 0 auto 1rem auto;
    text-align: center;
    padding: 0.5rem 0;
  
}
  
.error {
    background: rgba(255, 102, 51, 0.7);
    color: #fff;
    width: 70%;
    margin: 0 auto 1rem auto;
    text-align: center;
    padding: 0.5rem 0;
}