<%- include('./partials/indexHeader.ejs')%>
    <main>
        <div class="main-section">
        <h1 class="main">Welcome!</h1>
        <p class="main-para">Hello and welcome to the videogame emporium or as we like to say vediagames! Here you buy and sell games new and old and if you want to stay around awhile you can even sign up for an account free of charge! See below for details on everything you need to know to get started.</p>
        </div>

        <div class="grid">
            <div class="section">
                <h2>How to Buy</h2>
                <p class="sectpara">Here on the VediaGame site buying games is as simple as navigating to our store page by clicking brows at the top of the screen. Once there all you need to do is look through our catalogue until you see something you like and once that is done select it. Once selected you will see an item details page and purchase options. Select the options you want and then input payment information and shipping information then checkout. After all that you can revel in the fact that you just bought a cool new game for the best price imaginable.</p>
            </div>
            <div class="section">
                <h2>How to Sell</h2>
                <p class="sectpara">If you are here to sell instead of buying well then you have come to the right place as well my friend! Selling on our site is a bit more complex than just buying but it is still rather simple. To start all you need to do is select the sell option at the top of the page. This will take you to the page to enter all your information about the product you wish to sell, enter this information as requested and submit. Your product should be listed and ready to be sold soon after. See simple right?</p>
            </div>
            <div class="section">
                <h2>Sign-Up Details</h2>
                <p class="sectpara">This section is more of a disclaimer about signing up for an account for our site. In order for us to be able to save your payment information for future purchases or for you to be allowed to sell your items on our website you need to sign up for an account. Signing up is as simple as entering the requested information on the sign-up page which can be found at the top of every page. If you already have an account with us just sign in instead. Happy gaming!</p>
            </div>
        </div>
    </main>
        <%- include('./partials/footer.ejs')%>